body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    user-select: none;
    overflow: hidden;

}


#file {
    display:none;
  }


.target{
    pointer-events: none;
}

.user-select-none {
  user-select: none;
}

*:focus {
  outline: none;
  }